.tooling-apps-cache/app/capella-messaging-training-prototype/capella-publisher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
	<flow name="publish-message-flow" doc:id="a355ec31-23bb-44e8-b0d9-f35f9891153d" >
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="6d85ba6a-8dad-4543-b261-ccf433c987b0" variableName="msgPayload"/>
		<logger level="INFO" doc:name="Place holder. Get detail from external source" doc:id="dd83b4ba-90d1-4fc4-9ba9-a02aab868394" />
		<ee:transform doc:name="transform database result" doc:id="8c02e1fd-067a-49d3-b2e4-8a2d473e9132" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="eventDetails" ><![CDATA[%dw 2.0
output application/json
---
{
	"vhost" : "capella",
	"exchangename" : vars.msgPayload.exchangename default '' as String,
	"exchangetype" : vars.msgPayload.eventtype default '' as String,
	"routingkey": vars.msgPayload.routingkey default '' as String,
	"message" : vars.msgPayload.message,
	"headers" : vars.msgPayload.headers default '' as String
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="0418d52b-ee64-41e0-b4ee-adc68debb9d5" >
			<when expression="#[vars.eventDetails.exchangetype == 'direct']">
				<flow-ref doc:name="exchange-direct-subflow" doc:id="4a036a8e-8dd1-479f-8f14-b055ed92af77" name="exchange-direct-subflow" />
			</when>
			<when expression="#[vars.eventDetails.exchangetype == 'topic']">
				<flow-ref doc:name="exchange-topic-subflow" doc:id="9d1d88d1-2469-41d9-a9fa-3b6e282e18e7" name="exchange-topic-subflow" />
			</when>
			<when expression="#[vars.eventDetails.exchangetype == 'fanout']">
				<flow-ref doc:name="exchange-fanout-subflow" doc:id="cc836a60-5cfe-451f-bb5d-a88e63c8ba0e" name="exchange-fanout-subflow"/>
			</when>
			<when expression="#[vars.eventDetails.exchangetype == 'headers']">
				<flow-ref doc:name="exchange-header-subflow" doc:id="bf4fc8d9-383c-4034-89d3-86739c9a7514" name="exchange-header-subflow"/>
			</when>
			<otherwise>
				<flow-ref doc:name="exchange-default-subflow" doc:id="6b54f960-cc34-4177-a988-dcc1ba396449" name="exchange-default-subflow"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="exchange-direct-subflow" doc:id="c3dac18b-acb8-4d58-a2fa-a844a5fd9976">
		<amqp:publish doc:name="Publish - Exchange - direct" doc:id="65a63fd2-05d3-470e-8988-b662b51aadeb" config-ref="AMQP_Config_RabbitMQ" exchangeName="#[vars.eventDetails.exchangename]" deliveryMode="PERSISTENT">
			<amqp:routing-keys >
				<amqp:routing-key value="#[vars.eventDetails.routingkey]" />
			</amqp:routing-keys>
			<amqp:message >
				<amqp:body ><![CDATA[#[%dw 2.0
output application/json
---
{	
	"payload": vars.eventDetails.message
}]]]></amqp:body>
				<amqp:properties />
			</amqp:message>
		</amqp:publish>
		<logger level="INFO" doc:name="Logger" doc:id="3b8ec5ff-e631-48f2-abf3-3a7f02f8c6a3" />
	</sub-flow>
	<sub-flow name="exchange-topic-subflow" doc:id="970c377c-1eac-4708-8150-e4deaf65467e" >
		<amqp:publish doc:name="Publish - Exchange - Topic" doc:id="66e64a35-ab09-4b54-ad81-a3c54b296bf5" config-ref="AMQP_Config_RabbitMQ" exchangeName="#[vars.eventDetails.exchangename]" deliveryMode="PERSISTENT">
			<amqp:routing-keys>
				<amqp:routing-key value="#[vars.eventDetails.routingkey]" />
			</amqp:routing-keys>
			<amqp:message>
				<amqp:body><![CDATA[#[%dw 2.0
output application/json
---
{	
	"payload": vars.eventDetails.message
}]]]></amqp:body>
				<amqp:properties />
			</amqp:message>
		</amqp:publish>
		<logger level="INFO" doc:name="Logger" doc:id="65ddeed4-0070-4e75-b41f-b818afa5da8a" />
	</sub-flow>
	<sub-flow name="exchange-fanout-subflow" doc:id="ca9bc2e6-bff9-44d3-8df0-e8c45da1152c" >
		<amqp:publish doc:name="Publish - Exchange - Fanout" doc:id="0e9111d9-a082-4981-9e92-8ce1b821daa6" config-ref="AMQP_Config_RabbitMQ" exchangeName="#[vars.eventDetails.exchangename]">
			<amqp:message >
				<amqp:body ><![CDATA[#[%dw 2.0
output application/json
---
{	
	"payload": vars.eventDetails.message
}]]]></amqp:body>
			</amqp:message>
		</amqp:publish>
		<logger level="INFO" doc:name="Logger" doc:id="4f898041-6c01-4e25-8b8b-91cc41f6be85" />
	</sub-flow>
	<sub-flow name="exchange-header-subflow" doc:id="de946725-7e11-475e-98d5-71fb58539693" >
		<amqp:publish doc:name="Publish" doc:id="80fd266b-ceb8-48d4-b19c-92c6383db154" config-ref="AMQP_Config_RabbitMQ" exchangeName="#[vars.eventDetails.exchangename]">
			<amqp:message >
				<amqp:body ><![CDATA[#[%dw 2.0
output application/json
---
{	
	"payload": vars.eventDetails.message
}]]]></amqp:body>
				<amqp:headers ><![CDATA[#[vars.eventDetails.headers]]]></amqp:headers>
			</amqp:message>
		</amqp:publish>
		<logger level="INFO" doc:name="Logger" doc:id="62363f41-2a8b-4732-954f-4473d3875699" />
	</sub-flow>
	<sub-flow name="exchange-default-subflow" doc:id="b1af708a-bbcc-4bd5-b02f-dae9a1520d05" >
		<logger level="INFO" doc:name="Logger" doc:id="c2e7a5c1-305f-45c4-9f94-d4c9be73fa72" />
	</sub-flow>
</mule>