capella-event-subscribe-training/src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-eventcatalog-flow" doc:id="3b70c88d-9937-4f04-a2a8-e6001e9ad5df" >
		<db:select doc:name="Select" doc:id="5bbe031e-755c-4206-a97f-739493998f65" config-ref="MSSQL_Database_Config">
			<db:sql >SELECT * FROM EventCatalog</db:sql>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7e656b55-b1c4-420f-8fad-ad038e68c576">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="get-eventcatalog-ID-flow" doc:id="11550992-2a95-4d6a-a3d8-41c5379c78ca" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="43d29384-9a3b-4d2f-ab94-a025ec4934fb">
            <ee:variables>
                <ee:set-variable variableName="ID"><![CDATA[output application/java
---
attributes.uriParams.ID]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<db:select doc:name="Select" doc:id="8b79cada-325e-4631-a6b9-803b9e1b6439" config-ref="MSSQL_Database_Config">
			<db:sql >SELECT * FROM EventCatalog where EventtypeID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
 ---
 {   'ID' : vars.ID
 }]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="533edc59-cf86-4ba8-b987-887bd23f85c9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="post-event-subscribe-flow" doc:id="803d3150-ed24-4b36-8bd7-b41107c9bfeb" >
		<set-variable value="#[payload]" doc:name="Message Payload" doc:id="a5458eac-0f8a-49c5-a00f-9975bec80c86" variableName="msgPayload"/>
		<db:select doc:name="GET Event Catalog Details" doc:id="fdb7399c-1f32-492d-a94d-0520e9ff9154" config-ref="MSSQL_Database_Config">
			<db:sql >SELECT * FROM eventcatalog
WHERE EventTypeID = :eventtypeid</db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
 ---
 {   'eventtypeid' : vars.msgPayload.eventtypeid
 	
 }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Create variable with  queue details" doc:id="bfd82524-82f2-43ff-8d65-b613be65d4e9" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="queueDetails" ><![CDATA[%dw 2.0
output application/json
---
{
	"queuename" : vars.msgPayload.queuename,
	"exchangename" : payload[0].ExchangeName,
	"routingkey" : "testing",
	"auto_delete" : false,
	"durable" : true,
	"arguments" : {}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="PUT" doc:name="PUT - Create queue" doc:id="76a0c36f-96bb-4de7-849b-6472d3825029" config-ref="HTTP_Request_configuration_RabbitMQ_API" path="#['/queues/${rabbitmq.vhost}/' ++ vars.queueDetails.queuename]">
			<http:body ><![CDATA[#[output application/json
---
{
	"auto_delete" : vars.queueDetails.auto_delete,
	"durable" : vars.queueDetails.durable,
	"arguments" : vars.queueDetails.arguments
}]]]></http:body>
		</http:request>
		<http:request method="POST" doc:name="POST - Creating Binding with exchange" doc:id="cb8f00bf-6e62-4fef-a28f-7bd6687914cc" config-ref="HTTP_Request_configuration_RabbitMQ_API" path="#['/bindings/${rabbitmq.vhost}/e/' ++ vars.queueDetails.exchangename ++ '/q/' ++ vars.queueDetails.queuename]">
			<http:body ><![CDATA[#[output application/json
---
{
	"routing_key" : vars.queueDetails.routingkey,
	"arguments" : vars.queueDetails.arguments
}]]]></http:body>
		</http:request>
		<logger level="INFO" message="post:\subscribe:application\json:capella-event-subscribe-training-config" />
	</flow>
</mule>
