.tooling/capella-messaging-publishd66d5f52-2233-4ee9-ada6-0ab0409a2569/capella-consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="capella-consume-flow" doc:id="f3bbdc9d-b487-4b23-bdc2-22d10256481b" >
		<set-variable value="#[payload]" doc:name="Save message to variable" doc:id="fe118919-a3c1-42db-9ec9-b7537fc9348a" variableName="msgPayload"/>
		<file:write doc:name="Write" doc:id="eea3dff1-ffd2-4cfb-917c-e87e21dddebf" path='#[%dw 2.0
output application/java
---
"C:\\workpace\\capella-training\\" ++ now() as Number ++ ".txt"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="ece58ffd-fa64-449e-9c84-166877707e79" />
	</flow>
</mule>
